.leftBody {
    min-width: 60%;
    background-color: white;
    min-height: calc(100vh - 60px);
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: transparent;
    margin-top: 30px;
}